* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
    url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: Raleway, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}


/* header */

header {
    background-color: black;
    width: 100%;
}

header .logo {
    float: left;
    color: white;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 500;
}

header .coloured, .about .coloured {
    color: #8aceb5;
}

nav ul {
    float: right;
    list-style: none;
}

nav li {
    float: left;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 25px;
    line-height: 50px;
    font-weight: 500;
}

/* section 1 - about company */

.about {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to bottom, rgb(254, 254, 254), rgb(191, 193, 193));
}

.about .container {
    height: 350px;
}

.arrow {
    color: #8aceb5;
    font-size: 80px;
    width: 10%;
    height: 100%;
    display: block;
    float: left;
    border: 1px red solid;
    text-align: center;
}

.chair {
    background: url("../images/black_chair.png") no-repeat center/cover;
    width: 35%;
    height: 100%;
    border: red 1px solid;
    float: left;
}

.about__description {
    width: 45%;
    height: 100%;
    border: red 1px solid;
    float: left;
    padding-top: 50px;
}

.about__description h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

.about__description p {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.about__description .button {
    background-color: #8aceb5;
    border-radius: 20px;
    width: 300px;
}

.about__description .button a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    line-height: 50px;
    display: block;
    text-align: center;
}