* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
    url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: Raleway, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}


/* header */

header {
    background-color: black;
}

header .logo {
    float: left;
    color: white;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 500;
}

header .coloured {
    color: #8aceb5;
}

nav ul {
    float: right;
    list-style: none;
}

nav li {
    float: left;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 25px;
    line-height: 50px;
    font-weight: 500;
}

