@import "modules/header";
@import "modules/about_section";
@import "partials/fonts";
@import "partials/colors";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Raleway, sans-serif;
	.container {
		max-width: 1000px;
		margin: 0 auto;
	}
	.clearfix::after {
		display: block;
		content: "";
		clear: both;
	}
}

.coloured {
	color: $main_color;
}