@import "modules/header";
@import "modules/about_section";
@import "modules/photos_section";
@import "modules/prices_section";
@import "modules/_application_section.scss";
@import "modules/contact_form_section";
@import "partials/fonts";
@import "partials/colors";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Raleway, sans-serif;
	body {
		min-width: 250px;
		.container {
			max-width: 1000px;
			margin: 0 auto;

		}
		.clearfix::after {
			display: block;
			content: "";
			clear: both;
		}
	}

}

.coloured {
	color: $main_color;
}

.title {
	text-transform: uppercase;
	color: $gray_color;
	font-size: 22px;
	padding-top: 20px;
	margin-left: 15px;
	&::after {
		content: attr(div);
		max-width: 300px;
		height: 7px;
		display: block;
		background-color: $main_color;
	}
}